<footer>
    <div id="detail-cont">
        <strong>Udanus Course are made by:</strong>
        <ul>
            <li>Chandra Tan</li>
            <li>Andree Benaya Abyatar</li>
            <li>Danny Wiselee</li>
            <li>Orlando Keni Sentana</li>
            <li>Vincent</li>
        </ul><br>
        Udanus uses Google Firebase as our Data Storage<br>
        Illustrations obtained from <a href="https://www.freepik.com/stories">here</a> <br>
        Hosted using herokuapp
    </div>

    <div>
        <strong>Links</strong>
        <ul id="web-links">
            <li><a href="/">Home</a></li>
            <li><a href="/courses/all">All Courses</a></li>
            <li><a href="/courses/web">Web Design</a></li>
            <li><a href="/courses/mobile">Mobile Programming</a></li>
            <li><a href="/courses/desktop">Desktop Application</a></li>
            <li><a href="/courses/game">Game Development</a></li>
            <li><a href="/courses/network">Computer Network & Security</a></li>
        </ul>
    </div>
    <div id="social-links">
        Visit us at:
        <div>
            <a href="https://www.instagram.com/udanus.course/">
                <img class="social-icon" src="../../../assets/icons/instagram.png" alt="">
                <span>@udanus.course</span>
            </a>
        </div>
        <div>
            <a href="https://web.facebook.com/udanus.course">
                <img class="social-icon" src="../../../assets/icons/facebook.png" alt=""> 
                <span>Udanus Course</span>
            </a>
        </div>
        <div>
            <a href="https://twitter.com/Udanus1">
                <img class="social-icon" src="../../../assets/icons/twitter.png" alt="">
                <span>@Udanus1</span>
            </a>
        </div>
    </div>
    
</footer>

<footer>
    Bina Nusantara University | 2020
</footer>