@import '../../app.component.scss';
*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: $compBlack;
    color: white;
    @include dfjcsaaic();
    padding: 20px 10px;
}

.social-icon{
    width: 30px;
    height: initial;
}

#detail-cont{
    color: white;
}
ul{
    list-style-type: none;
    li{
        a{
            text-decoration: none;
            text-decoration-style: none;
            color: inherit;
        }
    }
}

a{
    text-decoration: none;
    text-decoration-style: none;
    
}

#filler{
    height: 100px;
}
#udanus-banner{
    background-color: $darkBlue;
    color: white;
}
#udanus-image{
    width: 100px;
    height: 80px;
}

#social-links{
    text-decoration-style: none;
    div{
        a{
            @include dfjcfsaic();
            color: white;
            margin: 10px;
            span{
                margin-left: 10px;
            }
        }
    }
}