@import '../../app.component.scss';

*{
    margin:0;
    padding: 0;
}

nav{
    width: 98.67vw;
    @include dfjcsbaic();
    background-color: $primaryBlue;
    color: white;
    
}

ul{
    @include dfjcsaaic();
    list-style: none;

    li{
        padding: 10px;
    }
}

img{
    max-width: 80px;
}