.course-card{
    max-width: 200px;
    height: fit-content;
    max-height: 505px;
    
    margin: 10px;
    img{
        
        max-height: 250px;
    }
    mat-card-content{
        padding: 10px;
    }
}

p{
    font-size: 12px;
    margin-bottom: 10px;
}


