

$primaryBlue: #007DFE;
$darkBlue: #000E77;
$primaryWhite: #FFFFFF;
$compPink: #FF5A50;
$errorRed: #f44336;

@mixin dfjccaic{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfjcsaaic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin dfjcsbaic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dfjcfsaic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin dfjccaicfw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin dfjcfsaicfw {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

@mixin dfjccaifsfw{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin gradientbg{
    background-image: linear-gradient(to right top, #169dfc, #0091ff, #0083ff, #0074ff, #2863ff, #3a5aff, #4b50fe, #5a44fc, #5d43fc, #5f42fc, #6241fc, #6440fc);;
}