

$primaryBlue: #007DFE;
$darkBlue: #000E77;
$primaryWhite: #FFFFFF;
$compPink: #FF5A50;

@mixin dfjccaic{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfjcsaaic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin dfjcsbaic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dfjcfsaic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin dfjccaicfw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin dfjcfsaicfw {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

@mixin dfjccaifsfw{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}