@import '../../app.component.scss';

#title{
    font-size: 20px;
}
#main-cont{
    @include dfjccaic();
    flex-direction: column;
}

#submit-button{
    background-color: $primaryBlue;
    color: white;
    margin-top: 10px;
}

.full-width{
    width: 200px;
    margin: 10px;
}

.error-message{
    color: $errorRed;
}