<div id="main-cont">
    <mat-tab-group mat-stretch-tabs id="tab">
        <mat-tab  label="Web Design">
            <div class="course-tab">
                <div *ngFor="let c of webcourses">
                    <app-course-card courseId={{c.payload.doc.id}}></app-course-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Mobile Programming">
            <div class="course-tab">
                <div *ngFor="let c of mobilecourses">
                    <app-course-card courseId={{c.payload.doc.id}}></app-course-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Desktop Applications">
            <div class="course-tab">
                <div *ngFor="let c of desktopcourses">
                    <app-course-card courseId={{c.payload.doc.id}}></app-course-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Game Development">
            <div class="course-tab">
                <div *ngFor="let c of gamecourses">
                    <app-course-card courseId={{c.payload.doc.id}}></app-course-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Computer Network & Security">
            <div class="course-tab">
                <div *ngFor="let c of networkcourses">
                    <app-course-card courseId={{c.payload.doc.id}}></app-course-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>